/* body{
   
    padding: 0px;
    background-image:linear-gradient(yellow,lightgreen,cyan,skyblue);
}



.container{
    background-image: linear-gradient(yellow,lightgreen,cyan,skyblue);
    height: auto;
    width: auto;
    margin: 30px;
    text-align: center;
    
    
    
}
h1{
    text-align: center;
    text-decoration: underline;
}


img{
    height: 20%;
    width: 250px;
    text-align: center;   
}

#header{
    text-align: center;
}

#manu-bar{
    text-align:left;
    background-color: cornflowerblue;
    
}

#manu-bar li{
    display: inline-block;
    padding: 10px 10px;
    color: white;
    font-size: 25px;
}

#images-cont{
    text-align: center;
}


#img-2{
    width: 90%;
    height: 400;
    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */